* {
	font-family: "Sahel";
	font-weight: "normal";
}

body {
	background-color: #FFF;
	color: #000;
}

tr:last-child td:last-child {
	direction: ltr;
}

.container {
	display: flex;
}

.col {
	width: 50%;
}
